/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.login-container {
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hint-container {
    margin-top: 20px;
}

.hint-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.hint {
    display: none; /* hide hints by default */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.hint-btn:hover {
    background-color: #3e8e41;
}

.hint-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}